<%= form_for(workout) do |f| %>
  <% if @workout.errors.any? %>
    <div class="form-group">
      <h3>
        <%= pluralize(@workout.errors.count, "error") %> found:
      </h3>

      <ul>
        <% @workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :user_id %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration_mins, "Duration(mins)" %>
    <%= f.number_field :duration_mins, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.check_box :share_status %>
    <%= f.label :share_status, "Share Workout", class: "checkbox"%>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn workout-btn" %>
  </div>
<% end %>

