<section id="login-form">
  <div class="login-container">
    <div class="login-content">
      <%= form_for(:user, url: login_path) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit 'LOGIN', class: "btn login-btn" %>
        </div>
      <% end %>

      <ul>
        <li class="login-link"><%= link_to('Login with Facebook', '/auth/facebook', method: :post) %></li>
        <li class=login-link><%= link_to('Login with Google', '/auth/google_oauth2', method: :post) %></li>
      </ul>
    </div>
  </div>
</section>
