<% if @exercise_entry.errors.any? %>
  <h3>
    <%= pluralize(@exercise_entry.errors.count, "error") %> found:
  </h3>

  <ul>
    <% @exercise_entry.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for exercise_entry do |f| %>
    <div class="grid-1">
      <div class="old-exercise">
        <%= f.hidden_field :workout_id %>
        <%= f.label :exercise_id, "Select Exercise:", class: "dropdown" %>
        <%= f.collection_select(:exercise_id, @exercises, :id, :name, include_blank: "New Exercise") %>
      </div>

      <div class="content">
        <h5>-OR-</h5>
      </div>

      <div class="new-exercise">
        <p>Create New Exercise</p>
        <%= f.fields_for :exercise, exercise_entry.exercise do |exercise_field| %>
          <div class="form-group">
            <%= exercise_field.label :category, "Select Category:", class: "dropdown" %>
            <%= exercise_field.select :category, ['Chest', 'Shoulders', 'Arms', 'Back', 'Legs', 'Abs', 'Cardio'] %>
          </div>

          <div class="form-group">
            <%= exercise_field.label :name %>
            <%= exercise_field.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= exercise_field.label :description %>
            <%= exercise_field.text_area :description, class: "form-control" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="grid-2">
      <div class="weight form-group">
        <%= f.label :weight_lbs, "Weight (lbs):" %>
        <%= f.number_field :weight_lbs, class: "form-control" %>
      </div>

      <div class="sets form-group">
        <%= f.label :sets, "Sets:" %>
        <%= f.number_field :sets, class: "form-control" %>
      </div>

      <div class="reps form-group">
        <%= f.label :reps, "Reps:" %>
        <%= f.number_field :reps, class: "form-control" %>
      </div>

      <div class="rating form-group">
        <%= f.label :exercise_rating, "Rating (1 - 5):" %>
        <%= f.number_field :exercise_rating, class: "form-control" %>
      </div>
    </div>

  <div class="notes form-group">
    <%= f.label :notes, "Notes (Optional):" %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn entry-btn" %>
  </div>
<% end %>
