<h1>New User</h1>

<% if @user.errors.any? %>
  <h2><%= pluralize(@user.errors.count, "error") %> found:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  <div>

  <br>
  
  <div class="form-group">
  <%= f.submit "Sign Up", class: "btn btn-success" %>
  </div>

  <%= link_to('Sign in with GitHub!', '/auth/github', method: :post) %><br>
  <%= link_to('Sign in with Facebook!', '/auth/facebook', method: :post) %><br>
  <%= link_to('Sign in with Google!', '/auth/google_oauth2', method: :post) %>
<% end %>
