<div class="container">
  <% if @user == current_user %>
    <h1>Hi, <%= @user.first_name %>!</h1>
  <% end %>
</div>

<div class="container">
  <h4>User Info:</h4>
  <p>
    Name: <%= @user.full_name %><br>
    Email: <%= @user.email %>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h4>Shared Workouts</h4>
      <ul class="list-group">
      <% @user.workouts.where(share_status: true).order(created_at: :desc).each do |workout| %>
        <li class="list-group-item list-group-item-action"><%= link_to "#{workout.created_at.in_time_zone("America/New_York").strftime("%A - %m/%d/%Y - %l:%M %p")} -
         #{workout.name}", user_workout_path(user_id: workout.user_id, id: workout.id) %></li>
      <% end %>
      </ul>
    </div>
    <div class="col">
      <% if @user == current_user %>
      <h4>Private Workouts</h4>
      <ul class="list-group">
        <% @user.workouts.where(share_status: false).order(created_at: :desc).each do |workout| %>
          <li class="list-group-item list-group-item-action"><%= link_to "#{workout.created_at.in_time_zone("America/New_York").strftime("%A - %m/%d/%Y - %l:%M %p")} -
          #{workout.name}", user_workout_path(user_id: workout.user_id, id: workout.id) %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
