<section id="profile">
  <div class="profile-container">
    <div class="user-info">
      <% if @user == current_user %>
        <h1>Hi, <%= @user.first_name %>.</h1>
      <% else %>
        <h1><%= @user.first_name %>'s Profile</h1>
      <% end %>

      <ul>
        <li>Name: <%= @user.full_name %></li>
        <li>Email: <%= @user.email %></li>
      </ul>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <h3>Shared Workouts</h3>
        <ul>
        <% @user.workouts.where(share_status: true).order(created_at: :desc).each do |workout| %>
          <li><%= link_to "#{workout.created_at.in_time_zone("America/New_York").strftime("%A - %m/%d/%Y - %l:%M %p")} - #{workout.name}", user_workout_path(user_id: workout.user_id, id: workout.id) %></li>
        <% end %>
        </ul>
      </div>

      <div class="flex-item">
        <% if @user == current_user %>
        <h3>Private Workouts</h3>
        <ul>
          <% @user.workouts.where(share_status: false).order(created_at: :desc).each do |workout| %>
            <li><%= link_to "#{workout.created_at.in_time_zone("America/New_York").strftime("%A - %m/%d/%Y - %l:%M %p")} - #{workout.name}", user_workout_path(user_id: workout.user_id, id: workout.id) %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
  </div>
</section>