<% if @exercise_entry.errors.any? %>
  <h3>
    <%= pluralize(@exercise_entry.errors.count, "error") %> found:
  </h3>

  <ul>
    <% @exercise_entry.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for exercise do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, ['Chest', 'Shoulders', 'Arms', 'Back', 'Legs', 'Abs', 'Cardio'], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn" %>
  </div>
<% end %>
