<section id="exercise-index">
  <div class="index-container">
    <div class="index-content">
      <h1>Exercise Index</h1>

      <%= form_tag('/exercises', method: 'get') do %>
        <%= select_tag 'category', options_for_select(['Chest', 'Shoulders', 'Arms', 'Back', 'Legs', 'Abs', 'Cardio']), include_blank: "All Categories", class: "dropdown" %>
        <%= submit_tag "Filter", class: "btn filter" %>
      <% end %>

      <ul class="list-group mt-3">
        <% @exercises.each do |exercise| %>
          <li class="list-group-item list-group-item-action"><%= link_to exercise.name, exercise_path(exercise) %></li>
        <% end %>
      </ul>

      <% if current_user.id == 1 %>
        <%= link_to "Create New Exercise", new_exercise_path, class: "btn" %>
      <% end %>
    </div>
  </div>
</section>

