<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fit-Buddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash[:message] if flash[:message] %>
    <% flash[:error] if flash[:error] %>

    <%= link_to "Home", root_path, class: "navbar-brand" %>

    <% if !logged_in? %>
      <%= link_to "Sign Up", new_user_path, class: "navbar-brand" %>
      <%= link_to "Log In", login_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to "Log Workout", new_workout_path, class: "navbar-brand" %>
      <%= link_to "#{current_user.username}'s Profile", user_path(current_user), class: "navbar-brand" %>
      <%= link_to "Log Out", logout_path, method: :post, class: "navbar-brand" %>
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
